Thumbs.db
.DS_Store
.gradle
build/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
/grails-plugin/*
/gradle/from-application-module.gradle
/other-plugins/java-testing
/add-to-application.gradle

/WebCommander/src/main/webapp/pub
/WebCommander/src/main/webapp/temp
/WebCommander/src/main/webapp/wc/*/plugins
/WebCommander/src/main/webapp/wc/*/production-minified
/WebCommander/src/main/webapp/template
/WebCommander/src/main/webapp/template-data
/WebCommander/src/main/webapp/old-template
/WebCommander/src/main/webapp/new-template
/WebCommander/src/main/webapp/resources
/WebCommander/src/main/webapp/WEB-INF/vcs
/WebCommander/src/main/webapp/WEB-INF/temp
/WebCommander/scripts/scripts.conf
/WebCommander/src/main/webapp/WEB-INF/wc-plugins
/WebCommander/src/main/webapp/WEB-INF/install-plugins
/WebCommander/src/main/webapp/WEB-INF/logs
/binary-out